.container {
    position: relative;
    text-align: center;
    color: white;
}
/* Centered text */
.middle{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
   
  
}