.mainheading{
    text-align: center;
  
}

btn-dark{
    background:red;
}
btn-success{
    background:blue;
}
body{
    img src="https://tctechcrunch2011.files.wordpress.com/2017/05/gettyimages-580833893.jpg?w=738"
    background: size ;
     
}

