html,body{
  width:100%;
}
.mainheading{
    text-align: center;
  
}

btn-dark{
    background:red;
}
btn-success{
    background:blue;
}
body{
    background-color: grey;
}

a li{
    list-style: none;
    color:black;
}


.header{
    background-color: white;
    
}


