html,body{
  width:100%;
}
.mainheading{
    text-align: center;
  
}

btn-dark{
    background:red;
}
btn-success{
    background:blue;
}
body{
    background-color: grey;
}

a li{
    list-style: none;
    color:black;
}

.box{
    position:absolute;
    padding:1%;
    left:45%;
    background:white;
    border-radius:15%;

}
.container{
    background-image: url("https://dailytimes.com.pk/static/uploads/original/education-a-divergent-and-transformational-force-eea1b7d4f09aaa77ed5e0a5ede686e87.jpg") ;
    background-size: cover;
   
    
}


