/* setting the background colour*/
#section1{
    background-color: rgb(100,20,90);0
    
}
/* setting the background colour*/
#section2{
    background-color: rgb(100,200,80);
}
/* setting the background colour*/
#section3{
    background-color: rgb(60,100,204);
}

.section{
    text-align: center;
    color: white;
}