/* setting the background colour*/
#section1{
   background-color: lightgrey;
  
    
}
/* setting the background colour*/
#section2{
    background-color: lightgrey;
    
}
/* setting the background colour*/
#section3{
  background-color: lightgrey;
}

/* setting the background colour*/
#section4{
    background-color: lightgrey;
}

/* setting the background colour*/
#section5{
  background-color: lightgrey;
}


.section{
    text-align: center;
    color: black;
}