html,body{
  width:100%;
}

.mainheading{
    text-align: center;
  
}

.box{
   background-color: white;
  
}
div> .share> a:hover { 
    background-color: lightgrey;
    color: black;
}
div> .share2> a:hover { 
    background-color: lightgrey;
     color: black;
    
}
.share2{
    position: absolute;
    top: 101%;
    left:87%;
 
}