.mainheading{
    text-align: center;
  
}

btn-dark{
    background:pink;
}
btn-success{
    background:blue;
}
body{
    background:blue;
}


a li{
    list-style: none;
    color:black;
}

.box{
    position:absolute;
    padding:2%;
    left:40%;
    background:green;

}