.container{
    display:inline;
}
.container1{

     top:0%;
  width:100%;
  height:250%;
  padding:3%;
 background-image: url("https://www.surfertoday.com/images/stories/breakingwave.jpg" alt="wave" style="width:100%;" "height:50%;");

}